.signup-form-box {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 40%;
  }
  
  @media (min-width: 1200px) {
    .signup-form-box{
      width: 50%;
      padding-top: 7%;
    }
  }